<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Uploda de Imagem</ion-title>
    <ion-buttons slot="secondary">
        <ion-button color="medium" size="large" (click)="photoService.takePicture()">
          <ion-icon slot="start" name="camera"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Upload</h2>
  <ion-card>
    <img [src]="foto" />
    <ion-card-content>
      <ion-button color="medium" size="large" (click)="cropUpload()">
        <ion-icon slot="icon-only" name="folder"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>